body{
    background-color: rgb(51, 55, 59)!important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

/*Form */
.form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}


/*ApiData */
.data-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.data-box{
    width: 15em;
    height: 10em;
    border: 2px solid white;
    color: white;
}

.loading-icon {
    width: 100px;
    height: 100px;
}

/* ApiData - Twitter */
.twitter-source{
    display: flex;
    flex-wrap: wrap;
}